/*Globales*/
:root {
  --Negro: #151515;
  --Rojo-oscuro: #A91D3A;
  --Rojo-claro: #C73659;
  --Blanco: #EEEEEE;
  --Gris: #dad9d9;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Reddit Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


/*NAVBAR*/
#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--Blanco);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
  font-family: "Reddit Sans", sans-serif;
  font-size: 17px;
  color: var(--Blanco);
}

.nav-link.active {
  color: var(--Blanco);
  font-size: 1.3rem;
  font-weight: 700;
  transition: all 0.3s;
}

.nav-link.active:hover {
  transform: scale(1.2);
  font-weight: bold;
  color: var(--Rojo-oscuro);
}

.btn-drop {
  display: none;
  cursor: pointer;
}

.logo-img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 60%;
}

/*HEADER*/

header {
  background-color: #333;
  padding: 20px;
  color: var(--Blanco);
  position: relative;
  height: 280px;
}
header h1 {
  font-size: 60px;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
}

/*BODY*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
h2 {
  font-size: 32px;
  color: #333;
}

/*INDEX*/
.body-index{
  background-image: url('../img/img3.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size:contain ;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__text {
  padding-top: 19px;
}
.txindex{
  font-weight: 400;
  font-size: 20px;
}

.img-tienda{
  width: 1000px;
}

.fotos{
  background-color: var(--Gris);
  width: 100%;

}
.fotos-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}
.fotos-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
}
.fotos-imagenes{
  border-radius: 50%;
}
.fotos-img{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}



/*ABOUT*/
.about {
  font-size: 1.3rem;
  padding: 3rem;
  width: 100%;
}

.about__text {
  /* width: 65rem;
  height: 25rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__text h3 {
  color: var(--Rojo-claro);
}

p {
  line-height: 1.8;
}

.button__about {
  text-align: center;
  height: 5rem;
  width: 6rem;
  border-radius: 2rem;
  border-color: var(--Negro);
  color: var(--Rojo-claro);
  transition: all ease 0.3s;
}

.button__about:hover {
  cursor: pointer;
  transform: scale(1.3);
  background-color: var(--Rojo-claro);
  color: #EEEEEE;
}

.location {
  text-align: center;
}

.location__text {
  background-color: var(--Gris);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  transition: all 0.2s;

}

.location__flex {
  font-size: 2rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location__text:hover {
  cursor: pointer;
  transform: scale(1.2);
}

img {
  width: 500px;
  height: 500px;

}

.imagenes {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.ubicacion {
  margin-top: 3rem;
  background-color: var(--Gris);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 5rem;
  transition: all 0.2s;
}

.ubicacion:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.location__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

iframe {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


/*CART*/
.carrito {
  background-color: #333;
  padding: 20px;
  color: #fff;
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.totalCompra {
  text-align: center;
}

.botonesCompra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgProductos {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-top: 1rem;
}

.card {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 20px;
  transition: transform 0.3s;
  padding: 1rem;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
}
.colorBoton {
  color: white;
  background-color: black;
  border: 1px solid gray;
  padding: 5px 10px;
  display: inline-block;
  transition: 1s;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
}
.colorBoton:hover {
  color: #e86686;
  border: 1px solid gray;
}

.button {
  background-color: black;
}

/*FORMULARIO*/
.formulario {
  margin: 30px;
  padding: 30px;
  background-color: var(--Gris);
}
.form-title {
  text-align: center;
}

/*FOOTER*/
.social__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 15px;
  gap: 25px;
  padding: 5px;
  color: white;
}

.social__media a {
  color: var(--Blanco)
}

.social__media a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #222;
  padding: 20px;
  color: #fff;
  text-align: center;
  height: 220px;
}
.footer-up {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 3px;
  pad: 5px;
}
.footer-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.footer-text-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin: 5px;
  padding: 5px;

}
.footer-text{
  display: flex;
  flex-direction:initial;
  font-size: 10px;
}
.logo-img-footer {
  height: 100px;
  width: 90px;
  background-size: cover;
}

/*MEDIA QUERY*/
@media (max-width: 1200px) {
  .navbar-list {
    gap: 30px;
    justify-content: space-around;
    font-size: 13px;
  }
  .fotos-img{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    gap: 10px;
  }
  .fotos-imagen{
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1050px) {
  #navbarList {
    display: none;
    position: absolute;
    top: calc(55% + 10px);
    right: 0;
    transform: translateX(-10%);
    background-color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 0;
    flex-direction: column;
  }
  .img-tienda{
    width: 100%;
  }
  .fotos-div{
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  #toggleNavbar {
    display: block;
    background-color: #333;
    border: none;
    margin: 15px;
    padding: 15px;
  }

  .drop-down-arrow {
    height: 55px;
    width: 55px;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    font-size: 13px;
  }
  .nav-link.active.text-white{
    font-size: 18px;
}

  .boton-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-img {
    width: 130px;
    height: 130px;
  }
  header h1 {
    margin: 15px;
  }
  .btn-drop {
    background-color: #333;
    border: none;
    margin: 15px;
    padding: 15px;
  }
  .imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }
}

@media (max-width: 985px) {
  #navbarList {
    transform: translateX(-30%);
  }
  .about {
    height: 150vh;
  }
  .fotos-img{
    flex-direction: column;
   
}
}

@media (max-width: 845px) {
.marca{
    width: 100%;
}
.txindex{
  font-size: 15px;
}
}

@media (max-width: 770px) {
  .footer {
    height: 230px;
  }
  .logo-img-footer {
    width: 60px;
    height: 60px;
  }
  .footer-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    gap: 20px;
  }
  .footer-copyright{
    display: none;
  }
  .about__text {
    font-size: 1.1rem;
}

.imagenes {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    justify-content: center;
}

.location__grid {
    display: flex;
    flex-direction: column;
}
}

@media (max-width: 650px) {
  #navbarList {
    left: 50%; 
    transform: translateX(-50%);
    top: calc(55% + 10px);
  }
  .logo-img {
    width: 100px;
    height: 100px;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
    height: 220px;
  }
  header {
    height: 670px;
    width: 100%;
  }
  .header h1 {
    padding-bottom: 55px;
    margin-bottom: 55px;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about {
    height: 200vh;
  }
}

@media (max-width: 460px) {
  .footer-up {
    padding: 3px;
    margin: 3px;
    gap: 13px;
  }
  .footer-nav {
    font-size: 10px;
  }
  .brand{
    width: 30px;
  }
  .about__text {
    padding-top: 19px;
    margin-bottom: 35px;
}
.location__text {
    margin-top: 45rem;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}
.nuestro-local{
  margin-top: 35px;
}
}

@media (max-width: 365px) {
  .footer-nav {
    font-size: 8px;
  }
  header {
    height: 500px;
}
#menu {
  margin-top: 10px;
  height: 300px;
}
}