/*Globales*/
:root {
    --Negro: #151515;
    --Rojo-oscuro: #A91D3A;
    --Rojo-claro: #C73659;
    --Blanco: #EEEEEE;
    --Gris: #dad9d9;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", sans-serif;
}

* {
    box-sizing: border-box;
}




/*Navbar*/
.header {
    width: 100%;
    height: 80px;
    background-color: var(--Negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header h1 {
    color: var(--Blanco);
    font-size: 3rem;
    transition: all 0.3s;
}

.tittle:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navbar {
    display: flex;
    gap: 2.6rem;

}

.links {
    color: var(--Rojo-oscuro);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
}

.links:hover {
    transform: scale(1.2);
    font-weight: bold;
}

.about {
    font-size: 1.3rem;
    padding: 3rem;
    width: 100%;
    height: 100vh;
}

.about__text {
    /* width: 65rem;
    height: 25rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about__text h3 {
    color: var(--Rojo-claro);
}

p {
    line-height: 1.8;
}

.button__about {
    text-align: center;
    height: 3rem;
    width: 6rem;
    border-radius: 2rem;
    border-color: var(--Negro);
    color: var(--Rojo-claro);
    transition: all ease 0.3s;
}

.button__about:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-color: var(--Rojo-claro);
    color: #EEEEEE;
}

.location {
    text-align: center;
}

.location__text {
    background-color: var(--Gris);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    transition: all 0.2s;

}

.location__flex {
    font-size: 2rem;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location__text:hover {
    cursor: pointer;
    transform: scale(1.2);
}

img {
    width: 500px;
    height: 500px;

}

.imagenes {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 11rem;
}

.ubicacion {
    margin-top: 3rem;
    background-color: var(--Gris);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 5rem;
    transition: all 0.2s;
}

.ubicacion:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.location__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

iframe {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: var(--Gris);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}

.footer__text {
    padding-left: 2rem;
}

.social__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    row-gap: 1rem;
    padding: 1rem;
}

.social__media a {
    color: var(--Negro)
}

.social__media a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .about__text {
        font-size: 1.1rem;
    }

    .imagenes {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        justify-content: center;
    }

    .location__grid {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    .header {
        height: 7rem;
    }

    .navbar,
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        padding-top: 19rem;
    }

    .location__text {
        margin-top: 45rem;
    }

    img {
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }
}