
#menu{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    margin: 100px;
}



.imgProductos {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-size: 20px;
    transition: transform 0.3s;
    padding: 1rem;
    text-align: center;}
    .card:hover {
    transform: scale(1.1);
    }
    .colorBoton {
        color: white;
        background-color: black;
        border: 1px solid gray;
        padding: 5px 10px;
        display: inline-block;
        transition: 1s;
        font-family: "Indie Flower", cursive;
        text-decoration: none; }
        .colorBoton:hover {
            color: #e86686; 
            border: 1px solid gray;}
            
.button{
    background-color: black;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    height: 240px;
    }
    header h1 {
    font-size: 48px;
    margin: 0;
    }

    header div{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }

    div#clima{
        display: flex;
        flex-direction: column;
        height: 200px;
        margin: 5px;
        border: 1px solid gray;
        padding: 10px;
        font-size: 10px;
        width: 200px;
    }
    div#clima h2{
        color: #fff;
        font-size: 15px;
    }
    div#clima div{
        display: flex;
        flex-direction: column;
        width: 100px;
    }
    .pronostico{
        height: 100px;
        margin: 5px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pronostico div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    }

    .pronostico p{
        font-size: 10px;
    }
    
    
    .pronostico img{
        height: 50px;
        width: 50px;
    }
    


    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    }
    h2 {
    font-size: 32px;
    color: #333;
    }


    footer {
        background-color: #222;
        padding: 20px;
        color: #fff;
        text-align: center;
    }
    footer p {
        margin: 0;
        }

.carrito{
    background-color: #333;
    padding: 20px;
    color: #fff;
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.totalCompra{
    text-align: center;
}

.botonesCompra{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px){
div#clima{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 5px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 10px;
    width: 100px;
}
}